<!--The content below is only a placeholder and can be replaced.-->
<!DOCTYPE html>
<html lang="en">


<body>
    <!-- Search Wrapper Area Start -->
   
        
        
       <router-outlet></router-outlet>   
        <!-- Product Catagories Area End -->
  
    <!-- ##### Main Content Wrapper End ##### -->

    <!-- ##### Newsletter Area Start ##### -->
    
    <!-- ##### Newsletter Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
      <app-footer></app-footer>
  </body>
</html>